<div class="animated fadeIn">
    <tabset>
        <tab heading="Overview">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Autoclave Control Systems</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
                    <p>Efficiency of an autoclaving process depends on the quality of its control system. McGill AirSeal systems are designed for a range of process requirements. They provide precise control of all autoclave functions: heat-up rate, soak period, cool-down rate, pressurization, depressurization, and vacuum</p>
                    <p>Our control systems integrate a programmable logic controller (PLC), a data acquisition system, graphical user interface software, and a Microsoft® Windows-compatible PC to control and monitor a complete autoclave system. This state-of-the-art integrated control system provides operators with a user-friendly environment, computerized cycle control, and full-function programmable machine control.</p>
					<p>Our control system for small bonding autoclaves and most non-bonding applications is microprocessor-based. This system uses ramp/soak proportional-integral-derivative (PID) controllers to regulate temperature, pressure, and vacuum. It includes a digital controller/programmer, chart recorder, high temperature limit controller, and temperature and pressure digital displays including pushbuttons and pilot lights.</p>
					<a href="assets/literature/ctrl.pdf" target="_blank">Control Systems Literature (Click)</a>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-ctrl.jpg">
						<figcaption class="media-body">
							<i>Our state-of-the-art integrated control system provides operators with precise control of all autoclave functions in a user-friendly environment</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Retrofit">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Control System Retrofit</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>To give you the same precise control and powerful data acquisition capabilities available with new autoclave systems, we can add a control system to your existing autoclave system.</p>
					<p>Whether you plan to purchase a new autoclave or upgrade an existing one, we will work with you at every stage of the project.</p>
					<p>Our high-quality, industrial-grade components provide reliable operation and enable our technicians to locate and solve problems quickly. And with our on-line technical support, we quickly assist in making sure your autoclave continues to meet your processing needs.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-retro.jpg">
						<figcaption class="media-body">
							<i>One of our skilled engineers upgrades a customer's existing autoclave by adding a control system</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Enhanced Data Logging">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Enhanced Data Logging</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>To provide proper quality control of autoclaved parts, you need a control system with extensive data logging capability.</p>
					<p>Our control system records and displays part temperature, air temperature, vessel pressure, and vacuum levels in graphic and text formats. By monitoring all thermocouples and pressure vessel operating conditions, it provides constantly updated historical trend displays of the cure cycle.</p>
					<p>This operating data can be stored and used to generate a report at the end of each production run. With its data configuration capabilities, the computer program can modify report formats to meet your needs.</p>
					<p>The data aquisition system records alarms and holds that occur during each production run. For the convienence of quality control staff, all data is universally transferable and can be monitored at other PC stations throughout your company. The data is easy to incorporate into spreadsheets or quality control programs.</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-data.jpg">
						<figcaption class="media-body">
							<i>By monitoring all thermocouples and pressure vessel operating conditions, our control system can provide constantly updated displays of the cure cycle.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
        <tab heading="Technical Service">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Technical Service</h4><br />
                <div class="col-xs-12 col-md-6 card-text">
					<p>McGill AirSeal offers on-line technical support for our control system to provide "real time," hands-on troubleshooting diagnostics to keep your autoclave system running efficiently and safely.</p>
					<p>For other control systems, we offer expert support by telephone, or we can arrange to have our service personnel visit your site</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<figure class="mcgill-picture">
						<img src="assets/img/ac-tech.jpg">
						<figcaption class="media-body">
							<i>Providing a customer with prompt on-line support helps to ensure optimal effectiveness.</i>
						</figcaption>
					</figure>
				</div>	
            </div>
		</tab>
	</tabset>
</div>