<div class="animated fadeIn">
  <div class="card card-block card-outline-success ">
    <div class="card-header card-success text-white mcgill-text-shadow">
      <h4 class="card-title">Increase your LEED!</h4>
    </div>
    <br />
		<p class="card-text">USGBC rules solvent-based duct sealants as "Other" with an acceptable VOC level of 420 g/l for LEED EQ 4.1 Credit (<a target="_blank" href="assets/literature/SMACNA_TechBulletinLEED_DuctSealers-709.pdf">&nbsp;More info...&nbsp;</a>)</p>
		<hr />
		<p>All of our solvent- and water-based sealants qualify for LEED Credit EQ 4.1. These sealants have a lower VOC level than the maximum set by the South Coast Air Quality Management District (SCAQMD) Rule #1168.</p>
    <p><b><a target="_blank" href="assets/literature/LEED-flyer.pdf">McGill LEED Literature</a></b></p>
    <hr />
		<!-- <p><b><a href="/sb">United Duct Sealer™</a></b></p> -->
		<!-- <p><b><a href="/sb">Uni-Seal™ Duct Sealer</a></b></p> -->
    <!-- <p><b><a href="/sb">Uni-Weather™ Duct Sealer</a></b></p> -->
    <!-- <p><b><a href="/sb">Uni-Coat™ Duct Sealer </a></b></p> -->
    <p><b><a href="/tbp">Uni-Seam™ Cold Seam Sealer  </a></b></p>
		<p><b><a href="/wb">United Duct Sealer™ (Water Based)</a></b></p>
		<p><b><a href="/wb">Uni-Mastic™ 181 Duct Sealer </a></b></p>
    <!-- <p><b><a href="/wb">Uni-Flex™ Duct Sealer</a></b></p> -->
    <!-- <p><b><a href="/tbp">Uni-Cast® Tape Sealing System </a></b></p>    -->
  </div>
</div>  
