<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Silicone Sealant</h4><br />
		<div class="card-text">
			<p><b>Uni-Sil™ Silicone Sealer</b> is a one-part sealant that cures in the presence of atmospheric moisture to produce a durable and flexible silicone rubber. Because it has excellent adhesion, it can be used in a variety of environments including general-purpose construction and industrial applications. Uni-Sil can be used for sealing clean metal, glass, wood, and plastic surfaces.</p>
			<p><i>Available in 10.3-ounce tubes, 1-gallon plastic pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/ss/us.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/us-safety.pdf" target="_blank">Uni-Sil™ Silicone Sealer Safety information</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Sil™ HT (High Temperature) Silicone Sealer</b> is a one-part sealant that cures in the presence of atmospheric mositure to produce a durable and flexible silicone rubber. Because it has excellent adhesion, it can be used in a variety of environments including general-purpose construction and industrial applications. Uni-Sil HT can be used for sealing clean metal, glass, wood, and plastic surfaces.</p>
			<p><i>Available in 10.3-ounce tubes, 1-gallon plastic pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/ss/us.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/us-safety.pdf" target="_blank">Uni-Sil™ (HT) Silicone Sealer Safety information</a>
		</div>		
	</div>
</div>