<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Butyl Gaskets</h4><br />
		<div class="card-text">
			<p><b>Uni-Butyl™ XT Butyl Gasket</b> is a 100 percent cross-linked butyl gasket tape, designed for use on four-bolt flange connector systems. It is non-hardening, has excellent adhesion to metal surfaces, and has outstanding resistance to extreme temperatures.</p>
			<p><i>Available in rolls:<br />
			3/16" thick by 5/8" wide by 25' long (20 rolls/case)<br />
			<!-- 1/8" thick by 1/2" wide by 40' long (20 rolls/case)<br />
			3/32" thick by 3/8" wide by 45' long (44 rolls/case)<br /> -->
			</i></p>						
		</div>
		<div>
			<figure>
				<img src="assets/img/gaskets/ubxtbg.jpg">
			</figure>
		</div>
	</div>
</div>