<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Butyl & Neoprene Gaskets</h4><br />
		<div class="card-text">
			<p><b>Uni-Butyl™ XT Butyl Gasket</b> is a 100 percent cross-linked butyl gasket tape, designed for use on four-bolt flange connector systems. It is non-hardening, has excellent adhesion to metal surfaces, and has outstanding resistance to extreme temperatures.</p>
			<p><i>Available in rolls:<br />
			3/16" thick by 5/8" wide by 25' long (20 rolls/case)<br />
			1/8" thick by 1/2" wide by 40' long (20 rolls/case)<br />
			3/32" thick by 3/8" wide by 45' long (44 rolls/case)<br />
			</i></p>						
		</div>
		<div>
			<figure>
				<img src="assets/img/gaskets/ubxtbg.jpg">
			</figure>
		</div>
		<hr />
		<div class="card-text">
				<p><b>Uni-Butyl™ TB Butyl Gasket</b> is a 100 percent cross-linked butyl, triple-bead, gasket tape, designed for sealing standing seam roof endlaps and lap joints for metal building roofs, skylights, roof curbs, and HVAC equipment. Web sections provide extra sealing when compressed.</p>
				<p><i>Available in rolls:<br />
					Available in rolls: 3/16" thick by 2-1/2" wide by 20' long (6 rolls/case)<br />
				</i></p>						
			</div>
			<div>
				<figure>
					<img src="assets/img/gaskets/ubtbbg-c.jpg">
				</figure>
			</div>		
			<hr />
			<div class="card-text">
					<p><b>Uni-Butyl™ DB Butyl Gasket</b> is a 100 percent cross-linked butyl, double-bead, gasket tape, designed for sealing standing seam roof endlaps and lap joints for metal building roofs, skylights, roof curbs, and HVAC equipment. Web sections provide extra sealing when compressed.</p>
					<p><i>Available in rolls:<br />
						Available in rolls: Available in rolls: 3/16" thick by 7/8" wide by 20' long (6 rolls/case)<br />
					</i></p>						
				</div>
				<div>
					<figure>
						<img src="assets/img/gaskets/ubtbbg-c.jpg">
					</figure>
				</div>		
				<hr />
				<div class="card-text">
						<p><b>Uni-Prene™ Neoprene Gasket</b> is a highly-durable, closed cell neoprene gasket that is designed for use on four-bolt connector systems. The pressure sensitive adhesive bonds to metals to form an airtight seal. Excellent for ducts that must be disassembled.</p>
						<p><i>Available in rolls:<br />
							Available in rolls: 1/4" thick by 3/4" wide by 50' long (24 rolls/case)<br />
						</i></p>						
					</div>
					<div>
						<figure>
							<img src="assets/img/gaskets/upng-c.jpg">
						</figure>
					</div>		
		
					
			</div>
</div>