<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Tapes</h4><br />
		<div class="card-text">
			<p><b>Uni-Foil™ HVAC Tape</b> is a mill finish aluminum pressure sensitive tape with aggressive water-resistant adhesion to galvanized duct, flex duct, and fiberglass ductboard. Butyl adhesive provides instant tack on indoor and outdoor systems.</p>
			<p><i>Available in rolls:<br />
			2" thick by 50' long (16 rolls/case)<br />
			3" thick by 50' long (16 rolls/case)<br />
			</i></p>						
		</div>
		<div>
			<figure>
				<img src="assets/img/tapes/aptape-c.jpg">
			</figure>
		</div>
	</div>
</div>