<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Water-Based Sealant</h4><br />
		<div class="card-text">
			<p><b>United Duct Sealer™ (Water Based)</b> is specially formulated for sealing low-, medium-, and high-pressure duct systems. It is recommended for both indoor and outdoor application. It provides excellent adhesion to galvanized metal and cures to a tough, flexible film. This water-based duct sealant contains no solvents or asbestos and has no harmful fumes. It is nonflammable (wet or dry) and fire retardant. The antimicrobial and antibacterial agents contained in this sealant remain effective after it has cured.</p>
			<p><i>Available in 10.5- and 29-ounce cartridges, 1- and 5-gallon pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wb/udswb-c.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/udswb-safety.pdf" target="_blank">United Duct Sealer™ (WB) Safety information</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Mastic™ 181 Duct Sealer</b> is a water-based product for sealing joints in all types of HVAC duct systems. It provides excellent adhesion to metal duct, fiberglass ductboard, and flexible duct. The sealer dries quickly and remains flexible after it has cured. Because Uni-Mastic 181 duct sealer is fiber reinforced, it is ideal for meeting the special requirements of retrofit applications and new construction. Uni-Mastic 181 duct sealer is UL listed. It is nonflammable, produces no harmful fumes, and can be used on indoor and outdoor duct systems. Uni-Mastic 181 duct sealer contains antimicrobial agents that remain effective after the adhesive has cured.</p>
			<p><i>Available in 10.5- and 29-ounce cartridges, 1-, 2-, and 5-gallon pails and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wb/um181ds.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/um181ds-safety.pdf" target="_blank">Uni-Mastic™ 181 Duct Sealer Safety information</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Extreme™ High Temperature Sealer</b>, one-part sealant that can withstand extreme temperatures of -320°F to +2400°F continuous (3100°F intermittent) while maintaining a sure seal. Excellent adhesion makes it resistant to most chemicals, solvents, and electricity. Its ability to form gaskets makes it ideal for sealing a variety of applications including clean metal, stacks, flues, exhaust systems, engines, turbines, fire bricks, mortar, and ceramic surfaces.</p>
			<p><i>Available in 10.5 fluid oz tubes.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wb/ue-c.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/ue-safety.pdf" target="_blank">Uni-Extreme™ High Temp. Sealer Safety information </a>
		</div>				
	</div>
</div>