<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Water-Based Sealant</h4><br />
		<div class="card-text">
			<p><b>United Duct Sealer™ (Water Based)</b> is specially formulated for	sealing low-,medium-,and high-pressure duct systems. It is recommended for indoor and outdoor application. It provides excellent adhesion to galvanized metal and cures to a tough, durable film. This water based sealant is free of VOC’s and meets LEED V4 requirements. It is non-flammable wet	and dry and is UL Listed.</p>
			<p><i>Available 1- and 5-gallon pails</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wb/udswb-d.png">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/udswb-safety.pdf" target="_blank">United Duct Sealer™ (WB) Safety information</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Mastic™ 181 Duct Sealer</b> is specially formulated for sealing low-,medium-,and high-pressure duct systems. It is recommended for indoor and outdoor application. It provides excellent adhesion to galvanized metal and cures to a tough, durable film. This water based sealant is free of VOC’s and meets LEED V4 requirements. It is non-flammable wet and dry. UL Listed.</p>
			<p><i>Available 1- and 5-gallon pails</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wb/um181-b.png">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/um181ds-safety.pdf" target="_blank">Uni-Mastic™ 181 Duct Sealer Safety information</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Extreme™ High Temperature Sealer</b>, one-part sealant that can withstand extreme temperatures of -320°F to +2400°F continuous (3100°F intermittent) while maintaining a sure seal. Excellent adhesion makes it resistant to most chemicals, solvents, and electricity. Its ability to form gaskets makes it ideal for sealing a variety of applications including clean metal, stacks, flues, exhaust systems, engines, turbines, fire bricks, mortar, and ceramic surfaces.</p>
			<p><i>Available in 10.5 fluid oz tubes.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wb/ue-d.png">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/ue-safety.pdf" target="_blank">Uni-Extreme™ High Temp. Sealer Safety information </a>
		</div>				
	</div>
</div>