<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Solvent-Based Insulation Adhesives</h4><br />
		<div class="card-text">
			<p><b>Uni-Fast™ Duct Liner Adhesive</b> is an economical, solvent-based product that provides a high-strength bond between metal and fiberglass duct liner. Uni-Fast is sprayable and instantly tacky, making it ideal for shop and field application. Uni-Fast can be used for a variety of special applications including bonding to wood, concrete block, carpet, paper, cardboard, fabric, and some plastics.</p>
			<p><i>Available in 1-gallon cans, 5-gallon pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/sba/ufdla.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/ufdla-safety.pdf" target="_blank">Uni-Fast™ Duct Liner Adhesive Safety info.</a>
		</div>
		<hr />
		<div class="card-text">
				<p><b>Uni-Fast™ (Non-Flammable) Duct Liner Adhesive</b> is an economical, solvent-based product that provides a high-strength bond between metal and fiberglass duct liner. This adhesive is non-flammable in both wet and dry states. It is sprayable and instantly tacky, making it ideal for shop and field application. Uni-Fast (non-flammable) can be used for a variety of special applications including bonding to wood, concrete block, carpet, paper, cardboard, fabric, and some plastics.</p>
				<p><i>Available in 1-gallon cans, 5-gallon pails, and 55-gallon drums.</i></p>				
			</div>
			<div>
				<figure>
					<img src="assets/img/sba/ufdla.jpg">
				</figure>
			</div>
			<div class="card-text">
				<a href="assets/literature/ufdla-safety.pdf" target="_blank">Uni-Fast™ (Non-Flammable) Adhesive Safety info.</a>
			</div>		
	</div>
</div>