<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title">Providing high-quality duct sealants, adhesives, and tapes</h4>
	</div>
    <p></p>
	<div class="card card-block card-outline-primary col-xs-12">
        <div class="card-text col-xs-12 col-md-6">
            <ul>
                <li>McGill AirSeal specializes in providing solvent- and water-based duct sealants for many types of ductwork, including sheet metal duct, flexible duct, and fiberglass ductboard.</li>
                <li>Our duct sealants provide reliable, airtight seals in commercial, industrial, and residential duct systems.</li>
                <li>Our duct liner adhesives provide fast grab and secure bonding of fiberglass duct liner to sheet metal ductwork while allowing positioning flexibility. Our duct liner adhesives are ideal for spray systems, extrusion systems, roller application, or brush application.</li>
                <li>We also offer sealants and adhesives for specialty applications. Through our nationwide network of distributors, we offer a high-quality and diversified product line at economical prices.</li>
            </ul>
        </div>
        <div class="media col-xs-12 col-md-6">
            <div class="media-right">
                <img class="py-1" src="assets/img/US_UDSdemo.jpg">
            </div>
            <div class="media-body">
                <p></p>
            </div>
	    </div>
</div>