<div class="animated fadeIn">
	<tabset>
		<tab heading="Sealants">	
			<div class="card card-block card-outline-primary ">
				<div class="card-text">
					<p><b>Uni-Gum™ Moldable Sealing Compound</b> is a permanently soft, non-toxic, asbestos free, all-weather, moldable sealer that fills voids and seals against moisture, dust, and air penetration. Ideal for use around pipes, conduits, cables, meters, terminal boxes, etc.</p>
					<p><i>Available in individually wrapped blocks (50lbs/case).</i></p>						
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apseal.jpg">
					</figure>
				</div>
			</div>
		</tab>
		<tab heading="Application">	
			<div class="card card-block card-outline-primary ">
				<div class="card-text">
					<p><b>Sealant Pump-Five Gallon</b> is a high-pressure pump system that is packaged on a cart and comes complete with follower plate and lift assembly. System allows for quick changeover, and it can deliver a variety of high-viscosity products.</p>
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/appump.jpg">
					</figure>
				</div>
				<hr />
				<div class="card-text">
					<p><b>Spray guns and hoses</b> Our industrial grade adjustable spray guns are perfect for use with many types of spray adhesives. The guns are sold with a variety of tip nozzle sizes. The industrial grade spray hoses can be used with solvent-based adhesives. They are sold with couplings to attach to spray guns and pumps. The spray hoses are sold in 6-, 12-, 18-, and 24-foot lengths.</p>
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apsgh.jpg">
					</figure>
				</div>
				<hr />
				<div class="card-text">
					<p><b>Caulking Guns-Standard and Large</b> McGill AirSeal's industrial-grade caulking guns are all-metal with a durable painted finish. Available for 10.5- and 29-ounce cartridges.</p>
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apcaulk.jpg">
					</figure>
				</div>
				<hr />
				<div class="card-text">
					<p><b>Paint Brushes</b> 
						our single-thick chip paint brushes are handmade, have natural bristles, wooden handles, and are disposable. They are perfect for applying duct sealers and adhesives. We also offer customers the option of branding their company name into the brush handles with only a small minimum quantity required. Please inquire for specifics. Available in 1-, 1.5-, 2-, and 3-inch widths.
					</p>
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apbrush.jpg">
					</figure>
				</div>
			</div>
		</tab>
		<tab heading="Paint">	
			<div class="card card-block card-outline-primary ">
				<div class="card-text">
					<p><b>Uni-Bright™ Cold Galvanizing Compound</b> zinc-rich coating that will stop rust and corrosion on all metal surfaces. Sacrificial coating is equal to hot-dip galvanizing in cathodic protections, film durability, and caustic and salt protection with 65% metallic zinc content by weight in the dry film.</p>
					<p><i>Available in 16 fluid oz/12 oz net weight.</i></p>					
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apub-c.jpg">
					</figure>
				</div>
				<hr />
				<div class="card-text">
						<p><b>Uni-Galv™ Cold Galvanizing Compound</b> zinc-rich coating that will stop rust and corrosion on all metal surfaces. Sacrificial coating is equal to hot-dip galvanizing in cathodic protections, film durability, and caustic and salt protection with 95.3% metallic zinc content by weight in the dry film.</p>
						<p><i>Available in 16 fluid oz/14 oz net weight.</i></p>					
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apug-c.jpg">
					</figure>
				</div>				
				<hr />
				<div class="card-text">
						<p><b>Uni-PVC™ Plastic-Coated Steel Touch-Up Paint</b> industrial paint used to protect and coat plastic-coated steel. This paint has excellent adhesion to plastic and will help prevent rust and corrosion of the underlying steel. It can be used indoors, outdoors, and underground.</p>
						<p><i>Available in 55-gallon drums, 5- and 1-gallon pails, and 16 oz spray cans.</i></p>					
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apup-c.jpg">
					</figure>
				</div>				
			</div>
		</tab>		
		<tab heading="Misc.">	
				<div class="card card-block card-outline-primary ">
					<div class="card-text">
						<p><b>Uni-Strip™ De-galvanizing Spray</b> is a lubricating spray for use on roll-forming machines and press dies. Spray will soften, loosen, and flake off galvanizing buildup, and daily use will keep machines clean and lubricated.</p>
						<p><i>Available in 16-oz aerosol cans.</i></p>					
					</div>
					<div>
						<figure>
							<img src="assets/img/ap/apus-c.jpg">
						</figure>
					</div>
					<hr />
					<div class="card-text">
							<p><b>Uni-Wrap™ Protective Plastic</b> puncture-resistant polyethylene is ideal for the temporary protection of HVAC sheet metal ductwork and other construction materials during transit and storage, sealing out dust, dirt, rain, snow, paint, and other contaminants. Its high-tack, one-sided adhesive leaves no residue and has excellent adhesion to metals, plastics, wood, masonry, stone, paper, and many other materials</p>
							<p><i>Available colors include clear, blue, green, and black in 12-, 18-, 24-, 36-, and 48-inch-wide rolls in lengths of 100, 200, 500, and 1000 feet. </i></p>					
					</div>
					<div>
						<figure>
							<img src="assets/img/ap/apuw.jpg">
						</figure>
					</div>				
					<hr />
					<div class="card-text">
							<p><b>Uni-Cap™ Protective Plastic Cover</b> shields items from dirt, moisture, paint, and other contaminants. It is reusable and easy to apply. Its industrial strength elastic, thick polyester plastic body, and fully sealed seams make it resistant to extreme weather and temperatures and most chemicals. In addition to sealing pipes and ductwork, it can be used to protect a variety of items including drums, pails, trash cans, bowls and plates, air conditioners, furniture, and grilles. Uni-Cap is ideal for use on round, rectangular, and oval shaped items, and can be custom made for non-standard applications.</p>
							<p><i>It is clear in color and available in diameters of 3-120 inches (linear equivalent 10-376 inches).</i></p>					
					</div>
					<div>
						<figure>
							<img src="assets/img/ap/apuc-c.jpg">
						</figure>
					</div>				
				</div>
			</tab>		
	</tabset>
</div>