<div class="animated fadeIn">
	<tabset>
		<tab heading="Paint">	
			<div class="card card-block card-outline-primary ">
				<div class="card-text">
					<p><b>Uni-Bright™ Cold Galvanizing Compound</b> zinc-rich coating that will stop rust and corrosion on all metal surfaces. Sacrificial coating is equal to hot-dip galvanizing in cathodic protections, film durability, and caustic and salt protection with 65% metallic zinc content by weight in the dry film.</p>
					<p><i>Available in 16 fluid oz/12 oz net weight.</i></p>					
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apub-c.jpg">
					</figure>
				</div>
			</div>
		</tab>		
		<tab heading="Uni-Strip/Uni-Wrap">	
				<div class="card card-block card-outline-primary ">
					<div class="card-text">
						<p><b>Uni-Strip™ De-galvanizing Spray</b> is a lubricating spray for use on roll-forming machines and press dies. Spray will soften, loosen, and flake off galvanizing buildup, and daily use will keep machines clean and lubricated.</p>
						<p><i>Available in 16-oz aerosol cans.</i></p>					
					</div>
					<div>
						<figure>
							<img src="assets/img/ap/apus-c.jpg">
						</figure>
					</div>
					<hr />
					<div class="card-text">
							<p><b>Uni-Wrap™ Protective Plastic</b> puncture-resistant polyethylene is ideal for the temporary protection of HVAC sheet metal ductwork and other construction materials during transit and storage, sealing out dust, dirt, rain, snow, paint, and other contaminants. Its high-tack, one-sided adhesive leaves no residue and has excellent adhesion to metals, plastics, wood, masonry, stone, paper, and many other materials</p>
							<p><i>Available colors include clear, blue, green, and black in 12-, 18-, 24-, 36-, and 48-inch-wide rolls in lengths of 100, 200, 500, and 1000 feet. </i></p>					
					</div>
					<div>
						<figure>
							<img src="assets/img/ap/apuw.jpg">
						</figure>
					</div>				
				</div>
			</tab>		
			<tab heading="Uni-Gasket Round Fittings & Uni-Seal Spiral Duct">	
				<div class="card card-block card-outline-primary ">
					<div class="card-text">
						<p><b>Uni-Gasket™ Round Fittings</b> Uni-Gasket round fittings reduce installition time and costs.  They feature a single-leg EPDM rubber gasket, which provides a reliable, airtight, friction-fit joint that meets or exceeds SMACNA Class 3 for leakage at -20 inches wg to +20 inches wg.  Delivers in 24 to 48 hours.</p>
						<p><i>Available in 3-24 inch diameters, galvanized steel, 22, 24, and 26 gauges</i></p>					
					</div>
					<div>
						<figure>
							<img src="assets/img/ap/apgasket.png">
						</figure>
					</div>				
				</div>
				<hr />
				<div class="card-text">
						<p><b>Uni-Seal™ Round, Single-wall Duct</b> Our singl-wall, round, spiral lockseam duct provides efficient performance and economic benefits.  Because of reduced leakage and pressure loss, you save on operating costs.  Delivers in 24 to 48 hours.</p>
						<p><i>Available in 3-24 inch diameters, galvanized steel, 10-28 gauges, and 1-20 feet in length</i></p>					
				</div>
				<div>
					<figure>
						<img src="assets/img/ap/apduct.png">
					</figure>
				</div>
			</tab>		
	</tabset>
</div>