<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Water-Based Insulation Adhesives</h4><br />
		<div class="card-text">
			<p><b>Uni-Tack™ Duct Liner Adhesive</b> is an economical, water-based product for bonding insulation to metal surfaces. A non-oxidizing vinyl copolymer adhesive with excellent temperature and moisture resistance after curing, it forms a durable bond that will not become brittle with age. This adhesive can be sprayed, brushed, or rolled and is designed for both manual and automatic applications. It provides excellent results with easy cleanup. Uni-Tack duct liner adhesive contains antimicrobial agents that remain effective after the adhesive has cured.</p>
			<p><i>Available in 1-gallon cans, 5-gallon pails and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wba/utdla.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/utdla-safety.pdf" target="_blank">Uni-Tack™ Duct Liner Adhesive Safety info.</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Grab™ Duct Liner Adhesive</b> is a water-based product for bonding low-density insulation to metal surfaces. This adhesive has an extremely high tack for instantly holding insulation in place when it is pressed into position. Formulated for use on HVAC metal duct systems, this non-oxidizing vinyl copolymer adhesive has excellent temperature and moisture resistance after curing. It forms a durable bond that will not become brittle with age. Uni-Grab duct liner adhesive contains antimicrobial agents that remain effective after the adhesive has cured.</p>
			<p><i>Available in 1-gallon cans, 5-gallon pails and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/wba/ugdla.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/ugdla-safety.pdf" target="_blank">Uni-Grab™ Duct Liner Adhesive Safety info.</a>
		</div>		
	</div>
</div>