<div class="animated fadeIn">
    <tabset>
        <tab heading="Test Station">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Test Station</h4><br />
                <div class="card-text">
                    <h6><p>Why Test for Leakage?</p></h6>
                    <p>No duct system is airtight. All leak to some degree. If controlled, duct leakage can be less than 1 percent of the total system cfm. As leakage increases, more air and energy is required to maintain design conditions, and this increases operating costs.</p>
                    <p>To protect building owners against leakage and resulting increased operating costs, engineers are requiring verification testing in their specifications. To help facilitate this testing, McGill AirFlow offers several different test equipment options, including component test kits, test kits mounted on a hand cart, and a revolutionary new Test Station that uses venturi tubes instead of the conventional orifice tube.</p>
                </div>
                <div class="card-text">
                    <h6><p>Leak Detective Test Station®</p></h6>
                    <p>McGill AirFlow continues to improve duct system leakage testing with our Leak Detective Test Station. After considerable user input, product development, and field testing, we are now offering the HVAC industry a new product concept for testing duct leakage in the most accurate, reliable, and easy manner possible. The Test Station uses calibrated venturi tube/flow meters instead of orifice plates to measure the amount of air leakage. The venturi tubes have been mated with all new state-of-the-art components—blower, silencer, controls, gauge, meters, and smoke generator, and packaged in a compact, self-contained, ergonomically-designed, wheeled Test Station that is easy to operate, transport, and move around the jobsite.</p>
                    <p>Patent No. US D631,901 S</p>
                    <p>Patent No. US 8,511,146 B2</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/TestStation_inUse.jpg">
                        <figcaption>The Test Station is easy to transport and maneuver in vehicles and at the jobsite, including on stairways.</figcaption>
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Venturi Tubes">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Venturi Tubes</h4><br />
                <div class="card-text">
                    <p>McGill offers venturi tubes linked with airflow meters for four different leakage measurement ranges. Using a venturi tube and a digital flow meter with a variable speed blower, McGill AirFlow's Leak Detective Test Station can be quickly set up to measure leakage rates in duct systems with desired static pressures as high as 10 inches wg. The venturi tubes are calibrated and traceable to the National Institute of Standards and Technology (NIST). The calibration results in factors that are programmed into the digital flow meters to give direct readings of standard cubic feet per minute (SCFM) with an accuracy of 2 percent over the recommended flow range. A Certificate of Calibration is provided with each venturi tube/flow meter, which has been approved, stamped, and signed by a Professional Engineer.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/venturis_andMeters.jpg">
                        <figcaption>McGill offers venturi tubes linked with airflow meters for four different leakage measurement ranges.</figcaption>
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Components">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Major Components Included and Stowed on Board</h4><br />
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/topLidUP_withVenturi.jpg">
                    </figure>
                </div>
                <ul>
                    <li>Fully-enclosed, self-contained, lockable, four-wheel, construction-grade cabinet with lifting handles and writing surface</li>
                    <li>Machined venturi tube—up to four can be carried in the Test Station, with linked airflow meters</li>
                    <li>Heavy-duty, threaded, inlet and outlet tubes for each venturi tube</li>
                    <li>Digital static pressure gauge</li>
                    <li>Digital airflow meter, for both supply (positive) and exhaust (negative) duct systems, with direct scfm leakage readout</li>
                    <li>Color-coded vinyl tubing for static pressure gauge and airflow meter connections</li>
                    <li>Variable speed blower, with gradual control—used for all four leakage test ranges</li>
                    <li>Silencer at blower inlet</li>
                    <li>Heavy-duty, flexible duct to connect to duct system and venturi tube</li>
                    <li>Bellmouth for negative pressure leakage testing</li>
                    <li>Smoke generator and fluid with connections and control</li>
                    <li>Central control panel with static pressure gauge, leakage airflow meter, blower speed control, off/on power switch, and smoke generator switch</li>
                    <li>Single 110-volt electric connection and auxiliary outlets</li>
                    <li>Operation Instructions Card and Manual</li>
                    <li>Professional Engineer's letter certifying calibration of venturi tube with airflow meter</li>
                    <li>Compartmentalized storage for all components</li>
                </ul>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/controlPanel_sm.jpg">
                        <figcaption>The central control panel is designed for simple operation and convenient observation of test results.</figcaption>
                    </figure>
                </div>                
            </div>
        </tab>
        <tab heading="Features/Benefits">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Features and Benefits of the McGill Test Station</h4><br />

                <div class="card-text">
                    <div class="card-text">
                        <table cellpadding=5>
                          <thead>
                              <tr>
                                  <td>Feature</td>
                                  <td>Benefits</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Self-contained package</td>
                                  <td>Ready to use</td>
                              </tr>
                              <tr>
                                  <td>Operation Instructions Card and Manual</td>
                                  <td>Easy to read and use</td>
                              </tr>
                              <tr>
                                  <td>Construction site design</td>
                                  <td>Durable</td>
                              </tr>
                              <tr>
                                  <td>Integrated system</td>
                                  <td>Safe to use</td>
                              </tr>
                              <tr>
                                  <td>Compact, light-weight design</td>
                                  <td>Maneuverable and portable, on stairways and in vehicles</td>
                              </tr>
                              <tr>
                                  <td>Machined venturi tubes, instead of orifice plates</td>
                                  <td>Reliably accurate without recalibration</td>
                              </tr>
                              <tr>
                                  <td>Four venturi tube/flow meter choices for leakage ranges</td>
                                  <td>Versatile</td>
                              </tr>
                              <tr>
                                  <td>Variable speed blower, without damper</td>
                                  <td>Controls noise</td>
                              </tr>
                              <tr>
                                  <td>Silencer for blower</td>
                                  <td>Controls noise</td>
                              </tr>
                              <tr>
                                  <td>Digital static pressure gauge and airflow meter, instead of manometers and charts</td>
                                  <td>Easy to use and accurate</td>
                              </tr>
                              <tr>
                                  <td>Venturi tube and linked airflow meter calibrated and certified by a Professional Engineer</td>
                                  <td>Reliable and meets leakage specifications</td>
                              </tr>
                              <tr>
                                  <td>Color-coded tubing</td>
                                  <td>Simple to connect</td>
                              </tr>
                              <tr>
                                  <td>Quick conversion from positive to negative testing</td>
                                  <td>Easy to use</td>
                              </tr>
                              <tr>
                                  <td>Smoke generator included</td>
                                  <td>Versatile</td>
                              </tr>
                              <tr>
                                  <td>Central control panel</td>
                                  <td>Easy to operate and observe test results</td>
                              </tr>
                              <tr>
                                  <td>Storage compartments</td>
                                  <td>A good place for everything needed</td>
                              </tr>
                              <tr>
                                  <td><u>Optional</u> data recording</td>
                                  <td>Record keeping</td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </tab>
        <tab heading="Choosing a Venturi Tube">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Choosing a Venturi Tube</h4><br />
                <div class="card-text">
                    <p>Four sizes of venturi tubes, 1, 2, 3, and 4 inches, are available to accommodate a wide range of leakage rates. It is advised that you purchase the size venturi tube/flow meters you will need when initially ordering the Test Station, though they can be added as you need them or all purchased at the same time for the most versatility. Chart 1 shows the approximate leakage rate that can be measured as a function of the required test static pressure for each size of venturi tube. Because the Test Station comes with a variable speed fan, an infinite combination of leakage rates can be measured at numerous static pressures within the limitations of the equipment.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/venturis.jpg">
                    </figure>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/chart1.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Standard Test Kits">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Standard Leak Detective® Test Kits</h4><br />
                <div class="card-text">
                    <p>A McGill AirFlow Leak Detective test kit makes it easy for you to measure duct system leakage. We offer four standard sizes, each available either as a kit or mounted on a wheeled cart. Other sizes are available as nonstandard items. Leak Detective carts, orifice tubes, and test kit components can be ordered individually. A standard leakage test kit consists of the following equipment:</p>
                    <ol>
                        <li>Calibrated orifice tube</li>
                        <li>Certified calibration chart</li>
                        <li>OSHA-approved fan with an inlet damper control</li>
                        <li>Two U-tube manometers</li>
                        <li>Vinyl tubing</li>
                        <li>Dye</li>
                        <li>10-foot flex duct, adapter and clamps</li>
                    </ol>                    
                    <p>The standard test kit contains a 4-, 5-, 6-, or 8-inch orifice tube calibrated for positive pressure system testing. The fans, which come with an inlet damper control, can be ordered for 110- or 220-volts and 50- or 60-cycle current.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/lrg8KITcomponents.jpg">
                        <figcaption><strong>Typical standard Leak Detective Test Kit (8-inch unit shown)</strong></figcaption>
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Cart Assembly">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Leak Detective® Cart Assembly</h4><br />
                <div class="card-text">
                    <p>We can also supply a test kit mounted on a hand cart for easy portability. All you do is wheel the durable, metal cart to a test site and connect the flexible hose to the orifice tube. Convenient holders are provided for the calibration chart and instruction booklet. You can also purchase a hand cart as a separate item and mount your existing test kit on it.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/cartGroup.jpg">
                        <figcaption><strong>Leak Detective Test Kit Cart Assemblies (4-, 5- and 8-inch units shown)</strong></figcaption>
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Orifice Tubes">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Orifice Tubes</h4><br />
                <div class="card-text">
                    <p>You can order our standard or nonstandard orifice tubes individually, in lieu of an entire test kit. Nonstandard orifice tubes are specially designed and calibrated according to the required volume flow and test pressure. They can be calibrated for use in both positive and negative pressure testing situations. When ordering a nonstandard tube, the required volume flow, test pressure, and calibration requirements should be specified.</p>
                    <p>Standard 4-, 5-, 6-, and 8-inch orifice tubes are calibrated against master tubes, which have been certified to an accuracy of 0.5 percent by an independent laboratory on equipment traceable to the National Institute for Standards and Technology (NIST), formerly the National Bureau of Standards.</p>
                    <p>The expected accuracy of all our orifice tubes at the time of shipment is 2 percent of the indicated flow rate.</p>
                    <p>Periodic recalibration of orifice tubes is recommended. Physical damage sustained by and/or modifications made to the orifice tube nullifies both the calibration curve and certificate provided with the product. It is recommended that the orifice tube be recalibrated at least 5 years from the calibration date shown on its calibration certificate, but no later than 10 years. Laboratory tests have determined that tubes over three years old can be inaccurate by up to 6 percent.</p>
                    <p><b>Note:</b> Each orifice tube manufactured by McGill AirFlow is individually calibrated and marked with an identification number. We keep calibration records from the past 10 years on file in case a chart is lost.</p>
                </div>
            </div>
        </tab>
        <tab heading="Smoke Delivery System">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Smoke Delivery System</h4><br />
                <div class="card-text">
                    <p>The use of smoke during the testing process can make locating sources of leakage faster and easier. As complementary accessories to our leakage test kits and cart assemblies, McGill AirFlow offers smoke generators and a complete smoke delivery system. You have the option of purchasing just the smoke generator or the complete system with the smoke generator factory-mounted to the cart assembly. If you already own a cart assembly, you can make the conversion by ordering the smoke delivery kit, which includes the smoke generator and related hardware.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/LTK_with_smokeKit.jpg">
                        <figcaption><strong>A Leak Detective cart assembly fitted with a complete smoke delivery system.</strong></figcaption>
                    </figure>
                </div>
                <div class="card-text">
                  <br />
                    <h6><p>Smoke Generators</p></h6>
                    <p>The standard model smoke generator produces FDA approved, non-toxic smoke and has an impressive list of performance features offering greater control and smoke output. The specifications for the generator are listed in the following table.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/smokeKit.jpg">
                        <figcaption><strong>The Leak Detective standard smoke generator.</strong></figcaption>
                    </figure>
                </div>
                <div class="card-text">
                    <div class="card-text">
                        <table cellpadding=5>
                          <thead>
                              <tr>
                                  <td>Feature</td>
                                  <td>Standard Model</td>
                              </tr>
                          </thead>
                          <tbody>
                              <tr>
                                  <td>Fluid capacity</td>
                                  <td>1 liter</td>
                              </tr>
                              <tr>
                                  <td>Element</td>
                                  <td>750W</td>
                              </tr>
                              <tr>
                                  <td>Smoke output</td>
                                  <td>7000 cfm</td>
                              </tr>
                              <tr>
                                  <td>Handheld remote control</td>
                                  <td>Yes</td>
                              </tr>
                              <tr>
                                  <td>Remote control cord length</td>
                                  <td>16 feet</td>
                              </tr>
                              <tr>
                                  <td>Timer control</td>
                                  <td>Yes</td>
                              </tr>
                              <tr>
                                  <td>Output concentration control</td>
                                  <td>Yes</td>
                              </tr>
                              <tr>
                                  <td>Heat up time</td>
                                  <td>7 minutes</td>
                              </tr>
                          </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-text">
                  <br />
                    <h6><p>Smoke Delivery Kits</p></h6>
                    <p>Our smoke delivery kit allows you to conveniently add smoke capabilities to your Leak Detective test kit cart assembly. The complete smoke delivery kit includes the smoke generator, support plate, mounting hardware, mixing tube, flexible duct, clamps, intake fitting, 1 liter of smoke fluid, and mounting instructions.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/smokeKit_components.jpg">
                    </figure>
                </div>
            </div>
        </tab>
        <tab heading="Choosing a Test Cart">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Choosing a Leak Detective® Test Cart</h4><br />
                <div class="card-text">
                  <b>Test Carts:</b>
                  <p>LDTC-4, LDTC-5, LDTC-6, LDTC-8</p>
                  <b>Test Cart Assemblies:</b>
                  <p>LDTC-4CA, LDTC-5CA, LDTC-6CA, LDTC-8CA</p>
                  <b>Cart without Test Kit:</b>
                  <p>LDTC-4C, LDTC-5C, LDTC-6C, LDTC-8C</p>
                  <b>Orifice Tubes:</b>
                  <p>LDTC-4T, LDTC-5T, LDTC-6T, LDTC-8T</p>
                  <br />
                  <p>The graph below shows the approximate operating limits of each Leak Detective test cart. The graph plots static pressure versus volume flow. At a given test pressure, each cart can deliver air volumes (cfm) up to the maximum value indicated by the curve.</p>
                </div>
                <div>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/figure1LTK.gif">
                    </figure>
                    <figure class="mcgill-picture">
                        <img src="assets/img/leakdetect/Chart6_8-inchTubes.gif">
                    </figure>
                </div>
            </div>
        </tab>  
        <tab heading="Calibration Services">
            <div class="card card-block card-outline-primary ">
                <h4 class="card-title card-accent-primary">Calibration Services</h4><br />
                <div class="card-text">
                    <p>We can recalibrate McGill AirFlow orifice tubes and calibrate tubes that you supply. The 6- and 8-inch tubes come standard with forward flow (positive pressure) and reverse flow (negative pressure) calibration. The 4- and 5-inch tubes come standard with forward flow calibration, but can be calibrated for reverse flow. Our Engineering Department can also arrange for independent or NIST calibration and certification.</p>
                </div><br />
                <div class="card-text">
                    <h6>Recalibration of McGill AirFlow Orifice Tubes:</h6>
                    <p>
                        Positive Pressure (LTS-RP)<br />
                        Negative Pressure (LTS-RN)<br />
                        Positive and Negative Pressure (LTS-RB)<br /><br />
                    </p>
                </div>
                <div class="card-text">
                    <h6>Calibration of Orifice Tubes Supplied by Customer:</h6>
                    <p>
                        Positive Pressure (LTS-CTP)<br />
                        Negative Pressure (LTS-CTN)<br />
                        Positive and Negative Pressure (LTS-CTB)<br /><br />
                    </p>
                </div>
                <div class="card-text">
                    <h6>Independent Calibration and Certification:</h6>
                    <p>
                        Positive and Negative Pressure (LTS-IB)<br /><br />
                    </p>
                </div>
                <div class="card-text">
                    <h6>NIST Calibration and Certification:</h6>
                    <p>
                        Positive Pressure (LTS-NP)<br />
                        Negative Pressure (LTS-NN)
                    </p>
                </div>
            </div>
        </tab>              
    </tabset>
</div>