<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Solvent-Based Sealant</h4><br />
		<div class="card-text">
			<p><b>United Duct Sealer™</b> has a high bonding strength for sure, first-time sealing of joints in low-, medium-, and high-pressure HVAC metal duct systems. It is suitable for indoor and outdoor applications. It has a high solids content and is less subject to rapid evaporation than standard sealants. Its ready-to-use consistency will not drip or run, making application easier and faster.</p>
			<p><i>Available in 10.5- and 29-ounce cartridges, 1-gallon cans, 5-gallon pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/sb/sbs-c.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/sbs-safety.pdf" target="_blank">United Duct Sealer™ Safety Information</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Seal™ Duct Sealer</b> is an economical high-strength sealant for use on sheet metal duct systems. This medium-viscosity sealant is easy to apply. It dries quickly and remains flexible to provide a sure seal.</p>
			<p><i>Available in 10.5- and 29-ounce cartridges, 1-gallon cans, 5-gallon pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/sb/usds-c.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/usds-safety.pdf" target="_blank">Uni-Seal™ Duct Sealer Safety information</a>
		</div>		
		<hr />
		<div class="card-text">
			<p><b>Uni-Weather™ Duct Sealer</b> is a medium-viscosity sealant for indoor/outdoor application on duct systems. It is specially formulated to resist weathering and aging, even when exposed to ultraviolet light.</p>
			<p><i>Available in 10.5-ounce cartridges, 1-gallon cans, 5-gallon pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/sb/uw.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/uw-safety.pdf" target="_blank">Uni-Weather™ Duct Sealer Safety information</a>
		</div>		
		<hr />
		<div class="card-text">
			<p><b>Uni-Coat™ Duct Sealer</b> (aka Foremost Duct Sealer or PCD Sealer #8) is an all-weather indoor/outdoor sealant that is specially formulated to resist weathering and aging, even when exposed to ultraviolet light and underground conditions as on PVC plastic-coated steel. It is good for low- to high-pressure duct systems. Uni-Coat is UL classified.</p>
			<p><i>Available in 10.5-oz tubes and 1- and 5-gallon metal pails and drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/sb/ucds-c.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/ucds-safety.pdf" target="_blank">Uni-Coat™ Duct Sealer Safety information</a>
		</div>
	</div>
</div>