<div class="animated fadeIn">
	<app-jumbotron></app-jumbotron>
    <p></p>
	<div class="card card-block card-outline-success ">
        <div class="card-header card-success text-white mcgill-text-shadow">
			<h4 class="card-title">LEED Compliance</h4>
		</div>	
		<hr />
		<p class="card-text">USGBC rules solvent-based duct sealants as "Other" with an acceptable VOC level of 420 g/l for LEED EQ 4.1 Credit (<a target="_blank" href="assets/literature/SMACNA_TechBulletinLEED_DuctSealers-709.pdf">&nbsp;More info...&nbsp;</a>)</p>
		<hr />
		<p>All of our solvent- and water-based sealants qualify for LEED Credit EQ 4.1. These sealants have a lower VOC level than the maximum set by the South Coast Air Quality Management District (SCAQMD) Rule #1168.</p>
		<hr />
		<p><b><a href="/leed">LEED Product Listing</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a target="_blank" href="assets/literature/LEED-flyer.pdf">McGill LEED Literature</a></b></p>
	</div>
</div>