<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Aerosol Insulation Adhesives</h4><br />
		<div class="card-text">
			<p><b>Uni-Spray™ Insulation Adhesive</b> provides a high-strength bond between metal and fiberglass. It provides instant tack, yet is repositional, making it ideal for shop or field application. Bonds to wood, concrete, carpet, paper, fabric, and most plastics.</p>
			<p><i>Available in 20-ounce aerosol cans.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/aia/usia.png">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/usia-safety.pdf" target="_blank">Uni-Spray™ Insulation Adhesive Safety information</a>
		</div>
	</div>
</div>