<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Tape, Butyl, Polyurethane Sealant</h4><br />
		<div class="card-text">
			<p><b>Uni-Cast® Tape Sealing System</b> is an economical method for sealing HVAC duct systems. It combines a woven-fiber tape with an acrylic liquid adhesive to form a hard, durable, airtight seal. The unique Uni-Cast applicator is easy to use and simplifies cleanup. Uni-Cast is nontoxic, nonflammable, and contains no asbestos. It is suitable for indoor and outdoor applications to seal low-, medium-, and high-pressure air distribution systems. Uni-Cast can be used on any shape of duct (round, flat oval, or rectangular). Once applied, it is not damaged by sub-zero temperatures or ultraviolet light.</p>
			<p><i>The adhesive is available in 1-gallon containers, and the tape is available in boxes of six rolls. Each roll is 3 inches wide by 150 feet in length.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/tbp/uctss.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/uctss-safety.pdf" target="_blank">Uni-Cast® Tape Safety information</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Seam™ Cold Seam Sealer</b> is a nonhardening solvent-based polymeric rubber mastic. It is ideal for sealing longitudinal seams on rectangular duct (e.g. Pittsburgh style).</p>
			<p><i>Available in 10.3-ounce tubes, 5-gallon pails, and 52-gallon drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/tbp/uscss.jpg">
			</figure>
		</div>
		<div class="card-text">
			<a href="assets/literature/uscss-safety.pdf" target="_blank">Uni-Seam™ Cold Seam Sealer Safety info.</a>
		</div>
		<hr />
		<div class="card-text">
			<p><b>Uni-Thane™ Polyurethane Sealant</b> is a one-part, non-sag, permanently flexible, multi-purpose sealant and adhesive. It is paintable and has excellent adhesion to metals, wood, glass, and plastics. It is ideal for sealing indoor/outdoor joints with dynamic and thermal movement.</p>
			<p><i>Available in 10.3-oz tubes, 20-oz packs, 1- and 5-gallon metal pails, and drums.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/tbp/utps-c.jpg">
			</figure>
		</div>
		<div class="card-text">
				<a href="assets/literature/UNI-THANE-Color-Chart-6-6-14.pdf" target="_blank"><i class="fa fa-dot-circle-o"></i> Color Chart</a><br />
			<a href="assets/literature/utps-safety.pdf" target="_blank">Uni-Thane™ Polyurethane Sealant Safety info.</a>
			
		</div>			
	</div>
</div>