<div class="animated fadeIn">
	<div class="card card-block card-outline-primary ">
		<h4 class="card-title card-accent-primary">Polyurethane Sealant</h4><br />
		<hr />
		<div class="card-text">
			<p><b>Uni-Thane™ Polyurethane Sealant</b> is a one-part, non-sag, permanently flexible, multi-purpose sealant and adhesive. It is paintable and has excellent adhesion to metals, wood, glass, and plastics. It is ideal for sealing indoor/outdoor joints with dynamic and thermal movement.</p>
			<p><i>Available in 1- and 5-gallon metal pails.</i></p>				
		</div>
		<div>
			<figure>
				<img src="assets/img/tbp/utps-c.jpg">
			</figure>
		</div>
		<div class="card-text">
			<!-- <a href="assets/literature/UNI-THANE-Color-Chart-6-6-14.pdf" target="_blank"><i class="fa fa-dot-circle-o"></i> Color Chart</a><br /> -->
			<a href="assets/literature/utps-safety.pdf" target="_blank">Uni-Thane™ Polyurethane Sealant Safety info.</a>
			
		</div>			
	</div>
</div>